body {
    background: url(images/sp.jpg);
}

#PRODUCT_list {
    background-color: white;
}

#product {
    margin-bottom: 10px;
}

#first{
	max-width:150px;
	max-height:150px;
}

#ahmed{
	border:1px solid black;
	background-color:#ff0000;
	font-size:15px;
	float:left;
	color:black;
	text-align: center;
}

#Adress {
    border: 1px solid black;
    background-color: rgb(218, 165, 32);
}

footer {
    color: rgba(255, 215, 0);
    border: 2px solid black;
    background-color: rgb(47, 79, 79);
    font-size: 25px;
    text-align: center;
}

#logo {
    float: left;
    max-height: 118px;
    max-width: 170px;
}

#p0,
#p1,
#p2,
#p3 {
    border: 1px solid rgb(255, 105, 0);
    text-align: center;
    padding: 10px
}

.product {
    border: 1px solid rgb(255, 105, 0);
    text-align: center;
    padding: 10px;
}

.product {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.product_info {
    font-size: 15px;
    position: relative;
    margin: 15px;
    bottom: 5px;
}

.button {
    background-color: #ff0000;
    color: white;
    font-size: 15px;
}

.add_item {
    flex-grow: 2;
    display: inline-block;
    width: 90px;
    margin: auto;
    padding-right: 4px;
    color: #000;
    font-size: 15px;
    line-height: 1;
    font-family: Oxygen-Sans;
    font-weight: 500;
    text-align: left;
    color: #ff0000;
    border: 1px solid #ff0000;
    border-color: rgb(176, 0, 0);
    background-color: transparent;
}

.product_name {
    font-weight: bold;
}

.products_bye {
    margin: 15px;
    text-align: center;
}

#lr666 {
    border: 1px solid black;
    background-color: rgba(244, 164, 96);
    text-align: center;
    font: normal small-caps 52px/54px serif;
    height: 32mm;
    line-height: 100px;
    max-height: 200px;
}

* {
    margin: 0;
    padding: 0;
    outline: none
}
